#这个文件用来提示git对于产生的临时文件等内容进行忽略
#井号开头作为注释，可以使用绝对路径和相对路径。

#将所有的bin二进制程序输出、日志、Qt产生的框架文件、debug信息等内容在项目配置中
#全部放在build目录中，在提交代码时进行整个目录的忽略。
build/

#项目关闭时候，在项目根目录保存的打开文件状态记录
GVSClient.suo

#ipch项目生成文件
ipch/

#项目临时数据库
*.sdf

